# Print Text **< Hello World >**

In [2]:
print("Hello world")

Hello world

# Variables

In [7]:
name = "Mohamed" #string
age = 21 #int
money = 500.5 #float
happy = True #bool (True , False)

print("name : " + name)
print("age : " + str(age)) #can only concatenate str (not "int") to str
print("money : " + str(money)) #can only concatenate str (not "float") to str
print("happy : " + str(happy)) #can only concatenate str (not "bool") to str

name : Mohamed
age : 21
money : 500.5
happy : True

# Input

In [10]:
name = input("enter your name : ")
age = input("enter your age : ")
money = input("enter your money : ")
happy = input("are you happy ? : ")

print("########################")

print("name: "+ name)
print("age: "+ str(age))
print("money: "+ str(money))
print("happy: "+ str(happy))

enter your name : mo
enter your age : 23
enter your money : 32.4
are you happy ? : False
########################
name: mo
age: 23
money: 32.4
happy: False

# Naming

In [ ]:
has_money = True #underscore
hasMoney = True #camelCase
HasMoney = True #PascalCase

# Conditions

In [24]:
storage = int(input("enter your storage : "))

if storage < 3000:
  print("you have less than 3000GB Storage")
elif storage == 3000:
  print("you have 3000GB Storage")
else:
  print("you have more than 3000GB Storage")

age = int(input("enter your age : "))
mesage = "you can drive" if age >= 15 else "you cant drive"
print(mesage)

enter your storage : 13499
you have more than 3000GB Storage
enter your age : 23
you can drive

# Logical operations

In [33]:
#and all the conditions must be ... True > true
#or just one conditions is true > true

hungry = False
food = True
eat = False

if hungry and food or eat:
  print("you are hungry and you have food")
elif hungry or food:
  print("you are hungry or you have food")
else:
  print("you are not hungry and you dont have food")

you are hungry or you have food

# LOOPS (while , For)

In [42]:
number = 0

while number <=5:
  print(number)
  number = number +1

print("done")

for number in range(1, 6):  #(number - 1)
  print(number)

0
1
2
3
4
5
done
1
2
3
4
5

# Functions

In [53]:
def salary(bonus, y=9):
  return 1000 + bonus - y

print(salary(10))
print(salary(23))
print(salary(0))

1001
1014
991

# Array basics

In [59]:
# list (Array)
std = ["mohamed","ahmed","ali"] #size = 3 , lenght = 0,1,2 (size - 1)
print(std[0]) # O(1)

# O(2)
print(std[2])
print(std[2])

# time complexity > performance of algorthim
# O(n)

mohamed

# Looping Array

In [63]:
grades = [10,20,30,40,50,60,70,80,90,100] #size = 10

for index in range(0 , 10):
  print(grades[index])

10
20
30
40
50
60
70
80
90
100

# Array Data Type

In [73]:
grad = [10,20,30]
std = ["mohamed", "samy" , "sameh"]

all = ["mohamed" , 20 , 304.4 , True] # str , int , float , bool
print(all[-3])

x = "mohamed"
print(x[0:2])

20
mo

# Bubble sort Algorithm

In [25]:
ar = [5 , 34 , 2 , 4 , 9, 8]
#lenth of array
lona = len(ar)
print(lona)
#loop in element in array
for index in range(0 , lona - index - 1):
  first = ar[index]
  second = ar[index + 1]
  if first > second:
    ar[index] = second
    ar[index + 1] = first
print(ar)

print("#######")
ar.sort(reverse= True)
print(ar)
print("#######")
ar.sort()
print(ar)

print("## Insert ##")
ar.append(100)
print(ar)

grd = []
for index in range(0,5):
  grd.append(int(input("enter your grade : ")))
print(grd)

# grd = []
# for index in range(0,5):
#   grd = input("enter your grade : ")
#   grd.append(int(grd))
#   grd.sort()
# print(grd)

6
[5, 2, 4, 9, 8, 34]
#######
[34, 9, 8, 5, 4, 2]
#######
[2, 4, 5, 8, 9, 34]
## Insert ##
[2, 4, 5, 8, 9, 34, 100]
enter your grade : 5
enter your grade : 7
enter your grade : 9
enter your grade : 5
enter your grade : 4
[5, 7, 9, 5, 4]

# Search

In [29]:
levels = [1 ,23, 11, 34,34 ]
search = 11

for index in range(0 , len(levels)):
  if levels[index] == search:
    print("found 11 index")
    break
  else:
    print("not found")

not found
not found
found 11 index

# Binary search

In [37]:
# linear search : O(n)
# Binary search : O(log n)

def BinarySearch(arrays,search, first, last):
  while last <= first:
    mid = last - ((last - first) // 2)

    if arrays[mid] == search:
      return mid

    elif arrays[mid] < search:
      last = mid - 1

    else:
      first = mid + 1

  return - 1

# sorted arrray ....
levels = [1 ,23, 11, 34,34 ]
search = 34

result = BinarySearch(levels , 34 , 0 , len(levels) - 1)
print(result)

-1

# Tuple

In [38]:
levels =( 1,2,3,4,5 )
print(levels)

(1, 2, 3, 4, 5)

# Hash Table (Dictionary)

In [44]:
# name = "mohamed"
# age = 24
# happy = True
# money = 50.34

# print(name , age , happy , money)

person0 = {"name":"mohamed" , "age":24 , "happy":True , "money":50.34}
person1 = {"name":"ahmed" , "age":44 , "happy":False , "money":50.34}
person2 = {"name":"ali" , "age":14 , "happy":True , "money":50.34}

persons = [person0 , person1 , person2]

for index in range(0, len(persons)):
  print(persons[index]['name'])

mohamed
ahmed
ali